.container {
  max-width: 700px;
  min-width: 700px;
  padding: 40px 25px 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  border-radius: 20px;
  text-align: center;
}

.location-label {
  opacity: 55%;
  font-size: 13px;
}
h1 {
  color: #4ac3be;
}
.current-country {
  color: #4ac3be;
}

.search-form {
  padding-top: 18px;
}

.search-button {
  background: #cf6e48;
  border-radius: 10px;
  box-shadow: 0px 2px 2px black;
  font-weight: 700;
  font-size: 12px;
  margin: 5px;
  padding: 5px 15px 5px;
  border: none;
  height: 34px;
}

hr {
  margin: 5px;
}

.location-temperature {
  font-size: 70px;
  color: #4ac3be;
}

a {
  text-decoration: none;
  color: #6492ef;
  cursor: default;
}

.units {
  position: relative;
  top: -35px;
  color: #4ac3be;
  font-size: large;
  font-weight: bolder;
}

.display-weather {
  display: block;
  text-align: center;
  padding: 20px 125px 20px;
}

.time-display {
  font-size: 13px;
}

.icon {
  display: block;
  block-size: 175px;
  margin: 0 auto;
}

.col-6 {
  font-size: small;
}

.panel-heading {
  display: block;
  margin: 10px 10px 10px;
  border-radius: 10px;
  text-align: left;
}

.forecast-date {
  color: chocolate;
}

.forecast-icon {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
}

.forecast-temperature-max {
  font-size: small;
}

.forecast-temperature-min {
  font-size: small;
  color: red;
  opacity: 0.5;
}

.footer {
  display: block;
  font-size: smaller;
}
